@charset "utf-8";
/* CSS Document */
*{cursor:url(../images/new.ico),auto;}
		body,img,ul,li{
			padding: 0px;
			margin: 0px;	
		}
		body{
			background: #F3F3F3;
		}
		#header{
			width:1150px;
			height: 50px;
			/*border: 1px solid #EA8486;*/
			border-bottom: 1px solid #BABABA;
			margin: 0px auto
		}
		.header{
			width: 1000px;
			height: 40px;
			/*border: 1px solid red;*/
			margin: 0px auto
		}
		.header-left{
			width: 180px;
			height: 40px;
			/*border: 1px solid green;*/
			float: left;
			line-height: 2.8rem;
		}
		.header-middle{
			height: 40px;
			/*border: 1px solid green;*/
			float: left;
		}
		.header-right{
			width: 300px;
			height: 40px;
			border: 1px solid #FDF7F7;
			float: right;
		}
		.header-title{
			font-family:Microsoft YaHei;
			font-size:25px;
			font-weight: bold;
			color:#3187F3;
		}
		#nav{
			list-style: none;
			height:40px;
			line-height: 3rem;
			float: right;
			text-align: center;	
		}
		.nav-title{
			font-family:Microsoft YaHei;
			text-align:left;
			font-size:12px;
			color:#B3B3B3;	
		}
		#nav li{
			margin-left: 0px;
			float:left;
			width:100px;
		}
		a{
			text-decoration:none;
			text-transform:uppercase;
			color:#424242
		}
		a:hover{
			color:#F0BBCA;
		}
		a:active{
			color:#4175D8;
		} 
		img { 
			height: auto;
			width: auto\9; 
			width:100%; 
		}
		.mainTitle{
			width: 240px;
			height: 40px;
			border: 1px solid #000000;
			font-family:Microsoft YaHei;
			text-align:center;
			line-height: 2.5rem;
			font-size:20px;
			margin:0 auto;
		}
		*{box-sizing: border-box;margin: 0;padding: 0;}
		form{position: relative;width: 300px;}
		input,buttom{border: none;outline: none;}
		.search input{
			width: 100%;height: 42px;padding-left:13px;padding-right: 46px;
			border: 2px solid #5DA9E2;border-radius: 5px;background: transparent;
			top:0;right:0;
		}
		.search button:before {content:"搜索";font-size: 13px;color:#F7F5F5;}
		.search button{
			height: 42px;width: 42px;cursor:pointer;position: absolute;
			background: #5DA9E2;border-radius: 0 5px 5px 0;width:60px;
			top:0;right:0;
		}
		.big1{
			width: auto;
			height: 200px;
			background: url(../images/201818340403-guojiaqi-0621.jpg);no-repeat:10px center;
			margin: 0 auto
		}
		.big1-small{
			width: 700px;
			height: 195px;
			/*background-color:#DADADA;*/
			filter:alpha(opacity=60);
  			opacity:0.6;
			margin:auto;
		}
		.big2{
			height: 100px;
			background-color:#F3F3F3;
			border-bottom: 1px solid #D4D4D4;
			margin: 0px auto;
		}
		.big2-left{
			width: 200px;
			height: 70px;
			/*background-color:#F79193;*/
			float:left;
			margin: 0 200px;
		}
		.big3{
			width:auto;
			height: 6650px;
			background-color:#F3F3F3;
			margin: 0 0 0 0 ;
		}
		.big3-middle{
			width: 1000px;
			height: 6550px;
			background-color:#FFFFFF;
			margin: 50px auto;
		}
		.big3-middle-1{
			width: 1000px;
			height: 5000px;
			/*background-color:white;*/
			float: left;
			margin: 50px auto;
		}
		.big3-middle-1-1{
			width: 1000px;
			height: 810px;
			/*background-color:#F1B0B1;*/
			float: left;
		}
		.big3-middle-1-1-1{
			width: 1000px;
			height: 50px;
			/*background-color:#B8F0EF;*/
			border-left: 30px solid #168AF7;
			margin: 0 0 10px -10px;
			float: left;
		}
		.big3-middle-1-1-2{
			width: 300px;
			height: 380px;
			/*background-color:#A0E6C4;*/
			margin: 0 10px 0 -10px;
			float:right;
		}
		.big3-middle-1-1-3{
			width: 700px;
			height: 200px;
			/*background-color:#ABACE9;*/
			float:left;
		}
		.big3-middle-1-1-4{
			width: 1000px;
			height: 230px;
		/*	background-color:#D0E0C7;*/
			float:left;
		}
		.big3-middle-1-2{
			width: 1000px;
			height: 1520px;
			/*background-color:#EFCBED;*/
			float: left;
		}
		.big3-middle-1-2-1{
			width: 1000px;
			height: 50px;
			/*background-color:#B8F0EF;*/
			border-left: 30px solid #168AF7;
			margin: 10px 0 10px -10px;
			float: left;
		}
		.big3-middle-1-2-2{
			width: 300px;
			height: 170px;
			background-color:#A0E6C4;
			margin: 0 10px 0 -10px;
			float:right;
		}
		.big3-middle-1-2-3{
			width: 700px;
			height: 240px;
			/*background-color:#ABACE9;*/
			float:left;
		}
		.big3-middle-1-2-4{
			width: 1000px;
			height: 780px;
			/*background-color:#D1DC9B;*/
			float:left;
		}
		.big3-middle-1-3{
			width: 1000px;
			height: 470px;
			/*background-color:#F49FBB;*/
			float: left;
		}
		.big3-middle-1-3-1{
			width: 1000px;
			height: 50px;
			/*background-color:#B8F0EF;*/
			border-left: 30px solid #168AF7;
			margin: 10px 0 10px -10px;
			float: left;
		}
		.big3-middle-1-3-2{
			width: 300px;
			height: 170px;
			background-color:#A0E6C4;
			margin: 0 10px 0 -10px;
			float:right;
		}
		.big3-middle-1-3-3{
			width: 700px;
			height: 170px;
			/*background-color:#ABACE9;*/
			float:left;
		}
		.big3-middle-1-3-4{
			width: 1000px;
			height: 230px;
			/*background-color:#D1DC9B;*/
			float:left;
		}
		.big3-middle-1-4{
			width: 1000px;
			height: 1190px;
			/*background-color:#CBD5F1;*/
			float: left;
		}
		.big3-middle-1-4-1{
			width: 1000px;
			height: 50px;
			/*background-color:#B8F0EF;*/
			border-left: 30px solid #168AF7;
			margin: 10px 0 10px -10px;
			float: left;
		}
		.big3-middle-1-4-2{
			width: 300px;
			height: 170px;
			background-color:#A0E6C4;
			margin: 0 10px 0 -10px;
			float:right;
		}
		.big3-middle-1-4-3{
			width: 700px;
			height: 350px;
			/*background-color:#ABACE9;*/
			float:left;
		}
		.big3-middle-1-4-4{
			width: 1000px;
			height: 900px;
			/*background-color:#D1DC9B;*/
			float:left;
		}
		.big3-middle-1-5{
			width: 1000px;
			height: 820px;
			/*background-color:#D5F5CE;*/
			float: left;
		}
		.big3-middle-1-5-1{
			width: 1000px;
			height: 50px;
			/*background-color:#B8F0EF;*/
			border-left: 30px solid #168AF7;
			margin: 10px 0 10px -10px;
			float: left;
		}
		.big3-middle-1-5-2{
			width: 300px;
			height: 170px;
			background-color:#A0E6C4;
			margin: 0 10px 0 -10px;
			float:right;
		}
		.big3-middle-1-5-3{
			width: 700px;
			height: 370px;
			/*background-color:#ABACE9;*/
			float:left;
		}
		.big3-middle-1-5-4{
			width: 1000px;
			height: 210px;
			/*background-color:#D1DC9B;*/
			float:left;
		}
		.big3-middle-1-6{
			width: 1000px;
			height: 920px;
			/*background-color:#EFF4C3;*/
			float: left;
		}
		.big3-middle-1-6-1{
			width: 1000px;
			height: 50px;
			/*background-color:#B8F0EF;*/
			border-left: 30px solid #168AF7;
			margin: 10px 0 10px -10px;
			float: left;
		}
		.big3-middle-1-6-2{
			width: 300px;
			height: 170px;
			background-color:#A0E6C4;
			margin: 0 10px 0 -10px;
			float:right;
		}
		.big3-middle-1-6-3{
			width: 700px;
			height: 340px;
			/*background-color:#ABACE9;*/
			float:left;
		}
		.big3-middle-1-6-4{
			width: 1000px;
			height: 530px;
			/*background-color:#D1DC9B;*/
			float:left;
		}
		.big3-middle-1-7{
			width: 1000px;
			height: 840px;
			/*background-color:#DDCEF7;*/
			float: left;
		}
		.big3-middle-1-7-1{
			width: 1000px;
			height: 50px;
			/*background-color:#B8F0EF;*/
			border-left: 30px solid #168AF7;
			margin: 10px 0 10px -10px;
			float: left;
		}
		.big3-middle-1-7-2{
			width: 300px;
			height: 170px;
			background-color:#A0E6C4;
			margin: 0 10px 0 -10px;
			float:right;
		}
		.big3-middle-1-7-3{
			width: 700px;
			height: 310px;
			/*background-color:#ABACE9;*/
			float:left;
		}
		.big3-middle-1-7-4{
			width: 1000px;
			height: 300px;
			/*background-color:#D1DC9B;*/
			float:left;
		}
		.big3-middle-1-8{
			width: 1000px;
			height: 230px;
			/*background-color:#F5D9C5;*/
			float: left;
		}
		.big3-middle-1-8-1{
			width: 1000px;
			height: 50px;
			/*background-color:#B8F0EF;*/
			border-left: 30px solid #168AF7;
			margin: 10px 0 10px -10px;
			float: left;
		}
		.big3-middle-1-8-2{
			width: 300px;
			height: 170px;
			background-color:#A0E6C4;
			margin: 0 10px 0 -10px;
			float:right;
		}
		.big3-middle-1-8-3{
			width: 700px;
			height: 170px;
			/*background-color:#ABACE9;*/
			float:left;
		}
		.big3-middle-1-8-4{
			width: 1000px;
			height: 230px;
			/*background-color:#D1DC9B;*/
			float:left;
		}
		.big8{
			height: 260px;
			background-color:#EAEAEA;
			border-bottom: 30px solid #888888;
			margin: 0px auto
		}
		.big8-middle{
			width:1000px;
			height: 230px;
			/*background-color:#F0CBCC;*/
			margin: 0px auto;
		}
		.big8-left{
			width: 400px;
			height: 230px;
			/*background-color:#E1C2E7;*/
			float: left;
			margin: 0 0 0 0;
		}
		.big8-left img{
			width: 200px;
			margin: 60px 95px;
		}
		.big8-right{
			width: 600px;
			height: 230px;
			float: right;
			/*background-color:antiquewhite;*/
			margin: 0 0 0 0;
		}
		footer{
			height: 150px;
		}
		footer>ul{
			display: flex;
			width: 500px;
			padding-top: 35px;
			margin: 0 auto;
			list-style: none;
		}
		footer>ul>li{
			flex:1;
			text-align: center;
			list-style: none;
		}
		footer>ul>li>section{
			font-size: 16px;
			list-style: none;
		}
		footer>ul>li>div{
			margin-top: 20px;
		}
		footer>ul>li>div>aside>a{
			margin-bottom: 10px;
			line-height: 28px;
			font-size: 12px;
			color: #7b868b;
			list-style: none;
		}
		h1{
			font-family: Microsoft YaHei;
			font-size:25px;
			color:#313131;
			float: left;
			margin: 10px 0 0 40px;
		}
		h2{
			
		}
		h3{
			font-family:Microsoft JhengHei;
			font-size:25px;
			color:#FFFFFF;
			text-indent: 2em;
		}
		h4{
			font-family:Microsoft JhengHei;
			font-size:8px;
			color:#FFFFFF;;
			text-indent: 2em;
		}
		h5{
			font-family:SimHei;
			font-size:20px;
			color: #2B2B2B;
			margin:55px 0 0 0 ;
		}
		h6{
			font-family:Microsoft YaHei;
			font-size:13px;
			color:#1851BE;
		}
		p{
			font-family:SimHei;
			text-indent:2em;
			letter-spacing:1.2px;
			line-height:30px;
			font-size:15px;
			color: #2B2B2B;
			margin:12px 20px ;
		}
